.all-article-page .MuiButton-outlinedSizeLarge {
    padding: 6px 21px;
}


.all-article-page .MuiFormControl-root {
    flex-direction: unset;
    width: 100%;
}

.all-article-page .MuiFormControl-root > * {
    margin-right: 4px;
}